<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thefork.challenge">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TheForkApplication"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">

        <!--    Here you can use SearchActivityPaged or SearchActivity    -->
        <activity android:name=".search.SearchActivityPaged" android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
